# Enter Machine Learning World

In [1]:
import seaborn as sns

In [2]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
# feature matrix 

X_iris = iris.drop('species',axis=1)
X_iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [5]:
# target 

y_iris = iris['species']
y_iris.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [6]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_iris,y_iris)
y_model = model.predict(X_iris)

In [9]:
# from sklearn.metrics import mean_squared_error
# mean_squared_error(y_iris,y_model)

predicting weight based on height

hypothesis = h(x)

$h(x) = \beta_{0} + \beta_{1} * x_{1}$

$h(x) = \beta_{0} + \beta_{1} * height$

$\beta_{1} = \text{slope} $

$\text{J}(\beta{0}, \beta{1}) = \sum(y-\hat{y})$

Cost Function , J is Ordinary Least Squares

$\text{J} = \sum(y -\hat{y})^2 $

components of a model

<img src="image/ml_model.png">

Minimization Algorithm


1. Minimise cost function $J(B_0,B_1)$
2. Start with a value $B_0,B_1$
3. Modify $B_0,B_1$ in small steps to reduce $J(B_0,B_1)$
4. Repeat till we reach a minimum

Gradient Descent Algorithm

Gradient descent is an optimization algorithm used to find the values of parameters i.e $B_0$ and $B_1$ of a function
that minimizes a cost function $J$

In [13]:
ls "image/"

 Volume in drive C has no label.
 Volume Serial Number is E070-DF93

 Directory of C:\Users\Dan\code\python\py_ml7\image

12/02/2021  09:49 PM    <DIR>          .
12/02/2021  09:49 PM    <DIR>          ..
12/02/2021  09:49 PM           162,521 afast.PNG
12/02/2021  09:49 PM           123,690 aslow.PNG
12/02/2021  09:46 PM           106,260 grad_desc.PNG
12/02/2021  09:48 PM           112,208 grad_desc1.PNG
12/02/2021  09:48 PM           109,869 grad_desc2.PNG
12/02/2021  09:16 PM           195,320 ml_model.PNG
               6 File(s)        809,868 bytes
               2 Dir(s)  36,867,919,872 bytes free

<img src="image/grad_desc.png">
<img src="image/grad_desc1.png">
<img src="image/grad_desc2.png">

Learning rate , $a$

<img src="image/aslow.png">
<img src="image/afast.png">